body 
{
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  width: 100%
}
.container
{
  position: relative;
  width: 250px;
  height: 415px;
  background: rgba(0,0,0,0.1);
  transform: rotate(-30deg) skew(25deg);
  transition: 0.5s;

h1 {
  padding: 20px 0px 10px 0px;
   background-color:#7FDBFF;
}
