body 
{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

ul
{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, 50%);
  display: flex;
  margin: 0;
  padding: 0;
  
}

ul li 
{
    list-style: none;
  margin: 0 5px;
}

ul li a .fa
{
  font-size: 40px;
  color: #333;
  line-height: 80px;
  transition: 0.5s;
  padding-right: 14px;
}

ul li a span
{
  padding: 0;
  margin: 0;
  position: absolute;
  top: 30px;
  color: #333;
  letter-spacing: 4px;
  transition: 0.5s;
}

ul li a
{
  text-decoration: none;
  display: absolute;
  display: block;
  width: 210px;
  height: 80px;
  background: #F0F8FF;
  text-align: left;
  padding-left: 20px;
  transform: rotate(-30deg) skewX(25deg) translate(0,0);
  transition: 0.5s;
  box-shadow: -20px 20px 10px rgba(0,0,0,0.5);
}  

.container
{
  position: relative;
  width: 250px;
  height: 415px;
  background: rgba(0,0,0,0);
  transform: rotate(-30deg) skew(25deg);
  transition: 0.5s;
}
.container img
{
  position: absolute;
  width: 100%;
  transition: 0.5s;
}
.container:hover img:nth-child(4){
  transform: translate(120px, -120px);
  opacity: 1;
}
.container:hover img:nth-child(3){
  transform: translate(90px, -90px);
  opacity: .8;
}
.container:hover img:nth-child(2){
  transform: translate(60px, -60px);
  opacity: .6;
}
.container:hover img:nth-child(1){
  transform: translate(30px, -30px);
  opacity: .4;
}
  
  

